<AbsoluteLayout android:class="is-android">
  <!-- Conteúdo -->
  <GridLayout
    left="0"
    top="0"
    class="page page-recipes-document"
    rows="auto, *, 15, 95"
    height="100%"
    width="100%"
  >
    <!-- Barra de navegação superior -->
    <GridLayout class="customActionBar" columns="auto, *, auto" rows="auto">
      <Label
        row="0"
        col="0"
        (tap)="page.frame.goBack()"
        text="&#xe5c4;"
        class="mdi btn-back-roud"
      ></Label>
      <Label
        row="0"
        col="2"
        [text]="'icomoon-logo-oficial-v3' | fonticon"
        class="icomoon menu logo"
      ></Label>
    </GridLayout>
    <CardView
      class="br-10"
      row="1"
      ios:margin="2 5"
      android:margin="5"
      [shadowOpacity]="0.1"
      android:shadowOffsetHeight="0"
      ios:shadowOffsetHeight="1"
      android:radius="20"
      ios:radius="10"
      width="90%"
    >
      <ScrollView class="br-10">
        <ActivityIndicator *ngIf="!loadedAsync" busy="true"></ActivityIndicator>
        <WrapLayout
          *ngIf="loadedAsync"
          class="document-paper"
          orientation="horizontal"
          width="100%"
        >
          <!-- Médico -->
          <GridLayout
            class="info-container"
            height="auto"
            columns="*, auto"
            rows="auto, auto, auto"
          >
            <StackLayout row="0" col="0" height="auto" class="doc-info">
              <Label class="info-title" [text]="recipe.doctor.name"></Label>
              <StackLayout height="auto" class="doc-info">
                <Label
                  class="info-content"
                  [text]="recipe.doctor.specialty"
                ></Label>
                <Label
                  class="info-content"
                  text="Conselho: {{ recipe.doctor.crm_number }}"
                ></Label>
                <Label
                  class="info-content"
                  text="Tel.: {{ recipe.doctor.telephones[0].telephone_one }}"
                ></Label>
              </StackLayout>
            </StackLayout>
            <StackLayout
              orientation="horizontal"
              row="0"
              col="1"
              verticalAlignment="top"
              horizontalAlignment="right"
            >
              <Label
                [nsRouterLink]="[
                  '/messages-details/' +
                    recipeID +
                    '/' +
                    recipe.medical_patient.id
                ]"
                text="&#xe907;"
                class="icomoon icon-btn-radius"
              ></Label>
            </StackLayout>
          </GridLayout>
          <!-- Paciente -->
          <GridLayout
            class="info-container"
            height="auto"
            columns="*, auto"
            rows="auto, auto"
          >
            <StackLayout row="0" col="0" height="auto" class="doc-info">
              <Label
                class="info-title"
                [text]="recipe.medical_patient.name"
              ></Label>
            </StackLayout>
            <StackLayout
              orientation="horizontal"
              row="0"
              col="1"
              horizontalAlignment="right"
            >
              <!-- <Label
                class="info-content"
                [text]="
                  moment().diff(recipe.medical_patient.date_of_birth, 'years') +
                  ' anos'
                "
              ></Label> -->
            </StackLayout>
            <StackLayout row="1" col="0" height="auto" class="doc-info">
              <Label
                class="info-content"
                text="CPF: {{ recipe.medical_patient.cpf }}"
              ></Label>
              <Label
                class="info-content"
                textWrap="true"
                [text]="recipe.medical_patient.address"
              ></Label>
            </StackLayout>
          </GridLayout>
          <!-- Medicamentos -->
          <Label class="info-section" text="Medicamentos"></Label>
          <GridLayout
            *ngFor="let item of recipe.medicines; let index = index"
            medicine-item
            [itens]="recipe.medicines"
            [index]="index"
            [item]="item"
          ></GridLayout>
        </WrapLayout>
      </ScrollView>
    </CardView>
    <Label row="2"></Label>
    <StackLayout row="3" orientation="horizontal">
      <FlexboxLayout
        backgroundColor="#1C5586"
        flexDirection="row"
        width="100%"
        justifyContent="space-around"
        alignItems="stretch"
      >
        <StackLayout
          *ngFor="let item of allActions; let i = index"
          [id]="item.method"
          (tap)="resolveMethod($event, item.method)"
          class="buttons-actions"
          [isUserInteractionEnabled]="!item.disabled"
          [ngClass]="{
            comming: item.disabled || (item.method == 'start' && !canStart)
          }"
          [backgroundColor]="item.background"
          [width]="item.width"
          orientation="vertical"
          horizontalAlignment="center"
          verticalAlignment="center"
        >
          <Label [text]="item.icon | fonticon" class="mdi action-icon"></Label>
          <Label
            class="action-title"
            text="{{ item.title }}"
            textWrap="true"
          ></Label>
        </StackLayout>
      </FlexboxLayout>
    </StackLayout>
  </GridLayout>
  <!-- Modal -->
  <GridLayout
    left="0"
    top="0"
    height="110%"
    width="100%"
    [style.zIndex]="999"
    modal
    size="md"
    alignment="middle"
    [dismissable]="!isAndroid"
    [duration]="100"
    (open)="onOpenModal()"
    (close)="onCloseModal()"
  >
    <GridLayout rows="auto, auto" columns="auto, *, auto" class="modal">
      <StackLayout
        row="0"
        col="2"
        (tap)="
          displayOption.listOptions ? closeModal() : changeScreen('listOptions')
        "
        [ngClass]="{
          'close-treatment': displayOption.listOptions,
          'back-treatment': displayOption.confirmOptions
        }"
      >
        <Label
          visibility="{{ displayOption.listOptions ? 'visible' : 'collapsed' }}"
          [text]="'icomoon-close' | fonticon"
          class="icomoon"
        ></Label>
        <Label
          visibility="{{
            displayOption.confirmOptions ? 'visible' : 'collapsed'
          }}"
          [text]="'icomoon-prev' | fonticon"
          class="icomoon"
        ></Label>
      </StackLayout>
      <AbsoluteLayout
        row="1"
        col="0"
        colSpan="3"
        width="100%"
        textAlign="center"
        padding="0 0 0 15"
      >
        <!-- Etapa 1 - Seleção dos Medicamentos -->
        <GridLayout
          top="0"
          left="0"
          rows="*, auto"
          *ngIf="displayOption.listOptions"
          [ngClass]="{ move: displayOption.confirmOptions }"
          class="grid"
        >
          <StackLayout row="0">
            <Label
              class="primary"
              text="QUAIS MEDICAÇÕES IRÁ INICIAR?"
              textWrap="true"
            ></Label>
            <!-- Medicações disponíveis -->
            <GridLayout
              class="medicine"
              *ngFor="let item of recipe.medicines; let i = index"
              rows="auto, 15"
              columns="*, 30"
              (tap)="selectOption(item)"
              [isUserInteractionEnabled]="!item.start_medical"
              [ngClass]="{
                started: item.start_medical,
                selected: item.selected
              }"
            >
              <Label
                row="0"
                col="0"
                [text]="item.title"
                textWrap="true"
                class="item"
              ></Label>
              <Label row="0" col="1" class="select"></Label>
              <Label
                row="1"
                colSpan="2"
                visibility="{{
                  recipe.medicines.length - 1 != i ? 'visible' : 'collapsed'
                }}"
                class="line"
              ></Label>
            </GridLayout>
          </StackLayout>
          <!--  Próximo passo -->
          <StackLayout row="1" verticalAlignment="bottom" class="form">
            <Button
              [class.disabled]="!selectedMedicines.length"
              (tap)="changeScreen('confirmOptions')"
              text="&#xf061;"
              class="btn fa btn-rounded-sm btn-submit br-12 btn-next"
            ></Button>
          </StackLayout>
        </GridLayout>
        <!-- Etapa 2 - Início dos Medicamentos -->
        <GridLayout
          top="0"
          left="400"
          rows="{{
            selectedMedicines.length > 3 ? (isAndroid ? 325 : 280) : 'auto'
          }}, auto, auto"
          *ngIf="displayOption.confirmOptions"
          [ngClass]="{ move: displayOption.confirmOptions }"
          height="auto"
          class="grid"
        >
          <!-- <StackLayout row="0" borderRadius="3" backgroundColor="#FDFBFB" height="auto"> -->
          <ScrollView row="0" height="auto">
            <WrapLayout height="auto">
              <GridLayout
                *ngFor="let item of selectedMedicines; let index = index"
                medicine-item
                [itens]="selectedMedicines"
                [index]="index"
                [item]="item"
              ></GridLayout>
            </WrapLayout>
          </ScrollView>
          <!-- </StackLayout> -->
          <!-- Deseja receber notificações -->
          <GridLayout row="1" rows="auto" columns="*, auto" class="allow">
            <Label row="0" col="0" text="Quero receber notificações"></Label>
            <Switch
              row="0"
              col="1"
              class="choice"
              [checked]="allowNotification"
              (checkedChange)="onChecked($event)"
            >
            </Switch>
          </GridLayout>
          <!--  Próximo passo -->
          <StackLayout row="2" verticalAlignment="bottom" class="form">
            <Button
              (tap)="changeScreen('showMessage')"
              text="Iniciar Medicamento"
              class="btn btn-rounded-sm btn-submit br-12 btn-next"
            ></Button>
          </StackLayout>
        </GridLayout>
        <!-- Confirmação do início do Tratamento -->
        <StackLayout
          class="start-success"
          top="0"
          left="400"
          *ngIf="displayOption.showMessage"
          [ngClass]="{ move: displayOption.showMessage }"
        >
          <Label class="info" text="Seu tratamento foi iniciado"></Label>
          <Label class="success" text="COM SUCESSO!"></Label>
          <Image src="~/image-source/start-success.png"></Image>
        </StackLayout>
      </AbsoluteLayout>
    </GridLayout>
  </GridLayout>
</AbsoluteLayout>
