@import "~/fonts/variables/_colors.scss";
.logo-color {
  color: $color-default;
}
.btn-back-roud {
  color: white;
}
/** Docotrs */
.doctors {
  margin: 10;
  padding: 10 10 5;
  border-radius: 5;
  border-color: #f3f3f3;
  border-width: 1;
  .doc-info {
    height: 45;
    margin: 5;
  }
  .doc-avatar {
    width: 36;
    height: 36;
  }
  .doc-title {
    color: $color-default;
    font-size: 16;
    font-weight: bold;
  }
  .doc-body {
    width: 100%;
    height: auto;
  }
  .html-view {
    background-color: white;
    padding: 10 5;
  }
  .doc-title.h1 {
    font-size: 24;
  }
  .doc-detail,
  .doc-time {
    color: #989898;
    font-size: 13;
    font-style: italic;
  }
  .doc-time {
    margin: 15 0 0;
  }
  .doc-actions {
    width: 100%;
    height: 55;
  }
  .doc-actions [flexGrow] {
    border-color: transparent;
    border-width: 1;
  }
  .doc-actions .doc-action {
    background-color: transparent;
  }
  .body {
    line-height: 30;
  }
  .hash {
    color: $color-default;
  }
  .hr-dark {
    margin: 0;
    border-bottom-width: 1;
    border-bottom-color: #d5d5d5;
  }
  .input-font {
    font-size: 23;
    color: #ff974b;
  }
  .doc-alert {
    margin: 12 30;
    font-size: 13;
    color: #6a6a6a;
    font-weight: bold;
    text-transform: uppercase;
  }
  .doc-comment {
    color: #4481eb;
  }
}
.body {
  margin: 30 0 0;
}
.medicines {
  color: $color-default;
  font-weight: bold;
  font-size: 12;
}
.signature image {
  width: 40%;
  height: auto;
  margin: 10 0 0;
}
.buttons-actions-bottom {
  background-color: #1c5586;
  color: white;
  margin: 15 0;
}
.buttons-actions {
  text-align: center;
  color: white;
  font-size: 6;
}
.action-icon {
  font-size: 22;
  margin: 0 0 5;
}
.action-title {
  text-align: center;
  font-size: 11;
  color: white;
  text-transform: uppercase;
}
.document-paper {
  border-radius: 10;
  padding: 15;
  background-color: white;
}
.info-title,
.info-section {
  font-size: 16;
  color: #5d5d5d;
  font-weight: bold;
}
.info-section {
  width: 100%;
  text-align: center;
  margin: 25 0 15;
}
.info-content {
  color: #5d5d5d;
  font-size: 13;
  margin: 3 0;
}
.medicine-itens {
  .icomoon {
    font-size: 12;
    margin: 2 3 0;
    color: #ffba49;
    &.btn-secound {
      width: 40;
      height: 40;
      font-size: 20;
      padding: 0;
      margin: 0;
      margin-right: 0;
      color: white;
    }
  }
  &.started {
    .info-timeline .info-point.start {
      background-color: $color-actived;
    }
  }
  &.finalized {
    .info-timeline .info-point.end {
      background-color: $color-actived;
    }
  }
}
.isAndroid {
  .medicine-itens {
    .icomoon {
      margin-top: 7;
    }
  }
}
.btn-submit {
  margin: 20 15;
  background-color: $color-default;
  color: white;
  font-size: 16;
  text-transform: uppercase;
  font-weight: bold;
  &.disabled {
    background-color: #dddddd;
  }
}
.info-medicine {
  color: $color-default;
  font-size: 14;
  margin: 5 0;
  font-weight: bold;
}
.info-timeline {
  width: 35%;
  //  height: 15;
  //  background-image: url('~/image-source/line.png');
  margin-top: 10;
  background-repeat: repeat-x;
  background-position: center center;
}
.timeline {
  background-color: #e1e4ea;
  text-align: left;
  height: 3;
  .status {
    width: 1;
    height: 3;
    background-color: $color-actived;
  }
}

.info-date-start {
  margin-right: 2;
}
.info-date-end {
  margin-left: 5;
}
.info-point {
  width: 10;
  height: 10;
  background-color: #c2c7d1;
  border-radius: 5;
}
.medicine-itens {
  padding: 0 7;
  margin: 5 0;
}
.comming {
  .action-icon,
  .action-title {
    opacity: 0.2;
  }
}

.modal {
  .close-treatment {
    background-color: red;
    color: white;
    padding: 15;
    .icomoon {
      font-family: "icomoon";
      font-size: 12;
      padding: 0;
    }
  }
  .back-treatment {
    background-color: $color-default;
    color: white;
    padding: 15;
    .icomoon {
      font-family: "icomoon";
      font-size: 15;
      padding: 0;
    }
  }
  .primary {
    color: #666666;
    font-size: 17;
    font-weight: bold;
    margin: 20 0 25;
  }
  .grid {
    width: 90%;
    height: auto;
  }
  .medicine {
    padding: 0 15;
    .item {
      margin: 10 0 0;
      color: #9c9fa7;
      font-size: 16;
    }
    .select {
      width: 18;
      height: 18;
      border-radius: 9;
      border-width: 2;
      border-color: #00b9dc;
      margin-top: 10;
    }
    &.selected {
      .item {
        color: $color-actived;
        font-weight: bold;
      }
      .select {
        background-color: $color-actived;
        border-width: 2;
        border-color: transparent;
      }
    }
    &.started {
      opacity: 0.2;
      .item {
      }
    }
  }
  .info-timeline {
    width: 40%;
  }
  .move {
    animation-name: move;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
  }
  .info-date-start,
  .info-date-end {
    color: #9c9fa7;
    font-size: 13;
  }
  .medicine-itens {
    .icomoon {
      color: $color-badge-default;
    }
  }
  .allow {
    margin: 5 0;
    padding: 0 10;
    label {
      color: #666666;
      font-weight: bold;
      font-size: 13;
    }
  }

  .start-success {
    width: 90%;
    height: auto;
    padding: 15 0;
    text-align: center;
    font-size: 18;
    .info {
      color: #5d5d5d;
    }
    .success {
      color: #35a9a8;
      font-weight: bold;
    }
    image {
      width: 55;
      height: auto;
      margin: 15 0;
    }
  }
}
@keyframes move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-400, 0);
  }
}
