<GridLayout
  android:class="is-android"
  rows="auto, *"
  width="100%"
  height="100%"
>
  <!-- Barra de navegação superior -->
  <GridLayout
    row="0"
    class="customActionBar"
    columns="auto, *, auto"
    rows="auto"
  >
    <Label
      col="0"
      row="0"
      (tap)="onDrawerButtonTap(true)"
      text="&#xe5d2;"
      class="mdi menu"
    ></Label>
    <Label
      col="3"
      row="0"
      [text]="'icomoon-logo-oficial-v3' | fonticon"
      class="icomoon menu logo"
    ></Label>
  </GridLayout>
  <!-- Tela -->
  <AbsoluteLayout
    row="1"
    class="page page-my-calendar"
    width="100%"
    ios:height="91%"
    android:height="93%"
    padding="0"
    margin="0"
  >
    <!-- Conteúdo  -->
    <GridLayout
      rows="auto, auto, *"
      top="0"
      height="100%"
      width="94%"
      margin="0 3%"
    >
      <!-- Cabeçalho  -->
      <StackLayout row="0">
        <!-- Busca -->
        <CardView
          [shadowOpacity]="0.1"
          android:shadowOffsetHeight="0"
          ios:shadowOffsetHeight="1"
          android:radius="20"
          ios:radius="10"
          margin="{{ isAndroid ? '26 3% 2' : '25 3%' }}"
          search-top-bar
          placeholder="Pesquisar"
          icon="icomoon-search"
          icon-position="right"
        >
        </CardView>
      </StackLayout>
      <!-- Carregamento -->
      <StackLayout
        row="1"
        *ngIf="!loadedAsync"
        horizontalAlignment="center"
        verticalAlignment="center"
        width="100%"
      >
        <ActivityIndicator busy="true"></ActivityIndicator>
      </StackLayout>
      <!-- Conteúdo  -->
      <StackLayout row="2" *ngIf="loadedAsync">
        <RadCalendar
          [eventSource]="calendarEvents"
          [monthViewStyle]="monthViewStyle"
          eventsViewMode="Inline"
          selectionMode="Single"
          viewMode="Month"
          transitionMode="Stack"
          locale="pt-BR"
          (dateSelected)="onDateSelected($event)"
          (dateDeselected)="onDateDeselected($event)"
          (navigatedToDate)="onNavigatedToDate($event)"
          (navigatingToDateStarted)="onNavigatingToDateStarted($event)"
          (viewModeChanged)="onViewModeChanged($event)"
        ></RadCalendar>
      </StackLayout>
    </GridLayout>
  </AbsoluteLayout>
</GridLayout>
