<GridLayout
  android:class="is-android"
  rows="auto, *"
  width="100%"
  height="100%"
>
  <!-- Barra de navegação superior -->
  <GridLayout
    row="0"
    class="customActionBar"
    columns="auto, *, auto"
    rows="auto"
  >
    <Label
      *ngIf="editUserID"
      row="0"
      col="0"
      (tap)="page.frame.goBack()"
      text="&#xe5c4;"
      class="mdi btn-back-roud"
    ></Label>
    <Label
      row="0"
      col="2"
      [text]="'icomoon-logo-oficial-v3' | fonticon"
      class="icomoon menu logo blue"
    ></Label>
  </GridLayout>
  <!--< Conteúdo -->
  <StackLayout row="1" class="page page-register-image">
    <Label text="Foto Perfil!" class="m-x-auto form-title" width="100%"></Label>
    <StackLayout class="sidedrawer-center">
      <StackLayout class="sidedrawer-header">
        <!-- <TextField text="{{ text }}"></TextField> -->
        <!--  Foto -->
        <StackLayout *ngIf="cameraImage" class="image-preview-photo m-x-auto">
          <Image [src]="cameraImage" class="m-x-auto"></Image>
        </StackLayout>
        <!--  Figura -->
        <StackLayout
          *ngIf="!cameraImage"
          class="sidedrawer-header image-preview-outline"
        >
          <!-- <Label [text]="'mdi-person' | fonticon"  class="mdi m-x-auto image-preview"></Label> -->
          <Label text="&#xe7fd;" class="mdi m-x-auto image-preview"></Label>
        </StackLayout>
      </StackLayout>
      <!--  Adicionar/Alterar Foto -->
      <StackLayout>
        <Button
          (tap)="takePicture()"
          text="{{
            !cameraImage && !editUserID ? 'Adicionar' : 'Alterar'
          }} Foto"
          class="btn btn-outline"
        ></Button>
      </StackLayout>
      <!--  Termos de uso -->
      <StackLayout
        class="terms"
        visibility="{{ !editUserID ? 'visible' : 'collapsed' }}"
      >
        <Label text="Ao criar uma conta você concorda com nossos"></Label>
      </StackLayout>
      <DockLayout
        visibility="{{ !editUserID ? 'visible' : 'collapsed' }}"
        nsRouterLink="/terms"
        pageTransition="slideLeft"
        class="terms-links"
        horizontalAlignment="center"
      >
        <Label text="Termos de Serviço" class="terms-link"></Label>
        <Label text=" e "></Label>
        <Label text="Política de Privacidade." class="terms-link"></Label>
      </DockLayout>
      <!--  Submeter formulário -->
      <StackLayout row="15" colSpan="4" verticalAlignment="bottom" class="form">
        <Button
          [class.disabled]="inProccess"
          [isEnabled]="!inProccess"
          (tap)="uploadImage(); valid = false"
          text="&#xf061;"
          class="btn fa btn-rounded-sm btn-submit br-12 btn-next"
        ></Button>
      </StackLayout>
    </StackLayout>
  </StackLayout>
  <!-- Conteúdo >-->
</GridLayout>
