<AbsoluteLayout android:class="is-android" width="100%" height="100%">
  <!-- Barra de navegação superior -->
  <GridLayout
    top="0"
    left="0"
    class="customActionBar"
    columns="auto, *, auto"
    rows="auto"
  >
    <!-- <Label col="0" row="0" (tap)="onDrawerButtonTap(true)" text="&#xe5d2;" class="mdi menu"></Label>
        <Label col="3" row="0" [text]="'icomoon-logo-oficial-v3' | fonticon" class="icomoon menu logo"></Label> -->
    <Label
      col="0"
      nsRouterLink="/my-doctors"
      clearHistory="true"
      pageTransition="slideRight"
      text="&#xe5c4;"
      class="mdi btn-back-roud"
    ></Label>
  </GridLayout>
  <!-- Tela -->
  <GridLayout
    top="60"
    left="0"
    class="page page-recipes-document"
    rows="auto, *, 15, 95"
    height="{{
      ((screen.mainScreen.heightDIPs - 60) / 100) * (isAndroid ? 90 : 98)
    }}"
    width="100%"
  >
    <!-- Conteúdo  -->
    <GridLayout
      rows="auto, auto, *"
      top="0"
      height="100%"
      width="94%"
      margin="0 3%"
    >
      <!-- Cabeçalho  -->
      <GridLayout rows="auto, *" columns="auto, *, auto" row="0">
        <!-- Título -->
        <Label
          rows="0"
          colSpan="3"
          class="h3 title-page"
          text="Receitas"
        ></Label>
        <!-- Busca -->
        <StackLayout
          row="1"
          col="0"
          colSpan="2"
          class="contact-user"
          *ngIf="otherUserInfo"
          contact-user
          [contact]="otherUserInfo"
          [show-recipe]="false"
          [show-contact]="true"
          [show-info]="true"
          (show-external)="modal.show()"
        ></StackLayout>
      </GridLayout>
      <!-- Conteúdo  -->
      <ScrollView row="2">
        <WrapLayout orientation="horizontal" width="100%" height="100%">
          <!--< Listagem height="{{ (screen.mainScreen.heightDIPs - 62) / 100 * ((isAndroid) ? 90 : 90 ) }}" -->
          <ActivityIndicator
            *ngIf="!loadedAsync"
            orientation="horizontal"
            width="100%"
            horizontalAlignment="center"
            verticalAlignment="center"
            busy="true"
          >
          </ActivityIndicator>
          <ListView
            *ngIf="loadedAsync"
            height="100%"
            [items]="allRecipes"
            (loadMoreItems)="loadMore()"
            class="list-patients"
          >
            <ng-template let-item="item" let-i="index">
              <recipe-item
                [item]="item.recipe"
                link="/recipes-document/"
                image-or-icon="icon"
              ></recipe-item>
            </ng-template>
          </ListView>
          <!-- Listagem >-->
        </WrapLayout>
      </ScrollView>
    </GridLayout>
  </GridLayout>
  <!-- Modal de Interação -->
  <GridLayout
    left="0"
    top="0"
    height="110%"
    width="100%"
    [style.zIndex]="999"
    modal
    size="md"
    alignment="middle"
    [dismissable]="false"
    [duration]="100"
    class="modal"
  >
    <GridLayout rows="auto, *" columns="auto, *, auto" class="default">
      <StackLayout row="0" col="2" (tap)="modal.hide()" class="close">
        <Label [text]="'icomoon-close' | fonticon" class="icomoon"></Label>
      </StackLayout>
      <GridLayout
        row="1"
        col="0"
        colSpan="3"
        columns="auto, *, 30"
        rows="auto, auto, auto, auto, *"
        class="address"
        orientation="horizontal"
      >
        <FlexboxLayout
          (tap)="copyAddress()"
          width="100%"
          row="0"
          col="0"
          colSpan="3"
          justifyContent="space-between"
          class="modal-title"
        >
          <Label class="title" text="Endereço"></Label>
          <Label [text]="'icomoon-copy' | fonticon" class="icomoon copy">
          </Label>
        </FlexboxLayout>
        <Label
          class="title"
          row="1"
          col="0"
          text="{{
            doctorAddress.locality ? doctorAddress.locality : 'Consultório'
          }}"
        >
        </Label>
        <Label
          class="info-content"
          row="2"
          col="0"
          colSpan="2"
          textWrap="true"
          text="{{ doctorAddress.complete }} {{ doctorAddress.complement }}"
        >
        </Label>
        <StackLayout
          margin="0 0 20"
          orientation="horizontal"
          horizontalAlignment="left"
          row="3"
          col="0"
          colSpan="3"
        >
          <Label class="strong" text="CEP:"></Label>
          <Label
            class="info-content"
            [text]="doctorAddress.street_code"
          ></Label>
        </StackLayout>

        <Label
          class="info-content"
          row="4"
          colSpan="2"
          textWrap="true"
          [text]="doctorAddress.place"
        >
        </Label>
      </GridLayout>
    </GridLayout>
  </GridLayout>
</AbsoluteLayout>
