@import "~/fonts/variables/_colors.scss";

.customActionBar {
  background-color: $color-bg-page;
}

.page-patients {
  background-color: $color-bg-page;
  padding: 5 0;
}

.list-patients {
  background-color: transparent;
  separator-color: transparent;
}

.list-view-item {
  .avatar {
    width: auto;
    height: 50;
    border-radius: 25;
  }

  .title {
    color: #5d5d5d;
  }

  .input-font {
    height: 50;
    font-size: 14;
    color: #ffba49;
    text-align: center;
  }
}

.contact-user {
  margin: 0 5;
}
.modal {
  width: 100%;
  height: auto;
  border-radius: 10;
  background-color: transparent;
  .default {
    width: 100%;
    min-height: 230;
    height: auto;
    border-radius: 10;
    background-color: white;
    overflow: hidden;
    &.auto {
      height: auto;
      margin: 0;
    }
  }
  .address {
    padding: 0 15 15;
    border-radius: 10;
  }
  .close {
    background-color: red;
    color: white;
    padding: 15;
    .icomoon {
      font-family: "icomoon";
      font-size: 12;
      padding: 0;
    }
  }
  .icomoon {
    &.copy {
      color: #0e7661;
      font-size: 19;
      padding: 0;
      margin: 0;
    }
  }
  .modal-title {
    background-image: url("~/image-source/bg-line.png");
    background-repeat: repeat-x;
    background-position: center center;
    margin: 20 0;
    .title {
      background-color: white;
      color: #606060;
      padding-right: 10;
      text-transform: uppercase;
      z-index: 9;
    }
    .copy {
      background-color: white;
      padding-left: 10;
      z-index: 9;
    }
  }
  .title {
    color: #0e7661;
    font-size: 16;
    font-weight: bold;
  }
  .strong {
    color: #666666;
    font-size: 14;
    font-weight: bold;
  }
  .info-content {
    height: auto;
    color: #666666;
    font-size: 15;
    margin: 3 0;
    text-align: left;
  }
}
