@import "~/fonts/variables/_colors.scss";

.upload-image {
  width: 70;
  height: 70;
  border-width: 1;
  border-color: $color-default;
  background-color: white;
  text-align: center;
  border-radius: 4;
  margin: 25 0 0;
}

.span {
  color: #666666;
  font-size: 10;
}

.text {
  color: #5d5d5d;
  font-size: 13;
}

.terms {
  color: #666666;
  font-size: 13;
  text-align: center;
  .link {
    color: $color-default;
  }
}

.label-switch {
  margin: 7 0;
}

.btn-submit {
  &.disabled {
    background-color: #dddddd;
  }
}

.font-text {
  font-size: 15;
  font-weight: bold;
}

.page-register {
  background-color: #f6f6f6;
  .show-password {
    color: $color-default;
  }
  .displaying {
    color: #5d5d5d;
  }
}

.customActionBar {
  background-color: $color-bg-page;
}
