<GridLayout
  android:class="is-android"
  rows="auto, *"
  width="100%"
  height="100%"
  (loaded)="verifyOptions()"
>
  <!-- Barra de navegação superior -->
  <GridLayout
    row="0"
    class="customActionBar"
    columns="auto, *, auto"
    rows="auto"
  >
    <Label
      col="0"
      (tap)="page.frame.goBack()"
      pageTransition="slideRight"
      text="&#xe5c4;"
      class="mdi btn-back-roud"
    ></Label>
    <Label
      row="0"
      col="2"
      [text]="'icomoon-logo-oficial-v3' | fonticon"
      class="icomoon menu logo blue"
    ></Label>
  </GridLayout>
  <!-- Tela -->
  <AbsoluteLayout row="1">
    <GridLayout
      top="0"
      left="0"
      class="page page-invite"
      rows="auto, auto, auto"
      columns="*"
      height="100%"
      width="100%"
      padding="15"
    >
      <Label
        *ngIf="displayOption.sendToEmail || displayOption.sendToWhatsApp"
        row="0"
        class="doc-title"
        text="Selecione a opção disponível: "
      ></Label>
      <FlexboxLayout justifyContent="space-around" alignItems="stretch" row="1">
        <Button
          col="0"
          *ngIf="hasOption.email"
          (tap)="changeScreen('sendToEmail')"
          text="E-mail"
          class="btn btn-primary btn-rounded-sm"
          [ngClass]="{ 'btn-not-visible': !displayOption.sendToEmail }"
        >
        </Button>
        <Button
          col="1"
          *ngIf="hasOption.whatsapp"
          (tap)="changeScreen('sendToWhatsApp')"
          text="WhatsApp"
          class="btn btn-primary btn-rounded-sm"
          [ngClass]="{ 'btn-not-visible': !displayOption.sendToWhatsApp }"
        >
        </Button>
      </FlexboxLayout>
      <!-- Envio por E-mail -->
      <StackLayout
        row="2"
        *ngIf="displayOption.sendToEmail"
        [formGroup]="form"
        height="auto"
        (loaded)="formControl('email')"
      >
        <TextField
          class="input hr-light"
          returnKeyType="next"
          formControlName="email"
          autocorrect="false"
          autocapitalizationType="none"
          hint="E-mail"
          [ngClass]="{
            invalid: form.get('email').invalid,
            valid: form.get('email').valid
          }"
        >
        </TextField>
        <Button
          [isEnabed]="form.valid"
          (tap)="sendEmail()"
          text="Enviar por E-mail"
          class="btn btn-primary btn-rounded-sm btn-active"
          [ngClass]="{ disabled: form.get('email').invalid }"
        >
        </Button>
      </StackLayout>
      <!-- Envio por WhatsApp -->
      <StackLayout
        row="2"
        *ngIf="displayOption.sendToWhatsApp"
        [formGroup]="form"
        height="auto"
        (loaded)="formControl('whatsapp')"
      >
        <MaskedTextField
          returnKeyType="next"
          formControlName="phone"
          (textChange)="getValue($event, 'phone')"
          mask="(00) 0000-00009"
          class="input hr-light"
          hint="Telefone"
          keyboardType="phone"
          ngDefaultControl
          [ngClass]="{
            invalid:
              form.get('phone').invalid ||
              form.get('phone').value.replace(rule, '').length < 10,
            valid: validatePhone
          }"
        >
        </MaskedTextField>
        <Button
          [isEnabed]="validatePhone"
          (tap)="sendToWhatsApp()"
          text="Enviar por WhatsApp"
          class="btn btn-primary btn-rounded-sm btn-active"
          [ngClass]="{ disabled: !validatePhone }"
        >
        </Button>
      </StackLayout>
    </GridLayout>
    <!--< Tela sem conteúdo -->
    <GridLayout
      top="0"
      left="0"
      top="{{ screen.mainScreen.heightDIPs / 2 - 50 }}"
      class="empty-view"
      rows="*"
      columns="*"
    >
      <GridLayout
        row="0"
        rows="auto, auto"
        class="decoration"
        width="60%"
        justifyContent="space-around"
        alignItems="stretch"
      >
        <Label
          row="0"
          [text]="'icomoon-add-user' | fonticon"
          class="icomoon"
        ></Label>
        <Label
          row="1"
          *ngIf="displayOption.sendToEmail || displayOption.sendToWhatsApp"
          text="Convide um Profissional da Saúde ou um Paciente para usar o App."
          class="text"
          textWrap="true"
        ></Label>
        <Label
          row="1"
          *ngIf="!displayOption.sendToEmail && !displayOption.sendToWhatsApp"
          text="Configure um E-mail e ou WhatsApp neste aparelho."
          class="text"
          textWrap="true"
        ></Label>
      </GridLayout>
    </GridLayout>
  </AbsoluteLayout>
</GridLayout>
