@import "~/fonts/variables/_colors.scss";

.customActionBar {
    background-color: $color-bg-page;
}

.title-page {
    margin-left: -5;
}

.is-android {
    .title-page {
        margin-left: 1;
    }
}

.doc-title {
    margin: 15 30;
}

.input {
    width: 90%;
    height: 45;
    border-radius: 10;
    &.valid {
        border-color: $color-default;
        color: $color-default;
        background-color: white;
    }
}

.btn {
    &.btn-not-visible {
        background-color: #dddddd;
    }
    &.btn-rounded-sm {
        padding: 5 35;
        margin-bottom: 30;
    }
    &.disabled{
        background-color: #dddddd;
    }
}