@import "~/fonts/variables/_colors.scss";

.title {
  font-weight: bold;
  color: $color-default;
  font-size: 18;
  margin-left: 5;
}

.description {
  font-size: 16;
  font-style: italic;
  color: #989898;
  margin-left: 5;
}

.image {
  width: 50;
  height: 50;
  border-radius: 25;
}

.info {
  text-align: right;
}

.time {
  text-align: right;
  font-size: 12;
  font-style: italic;
  padding: 0;
  margin: auto;
}

.badge {
  width: 23;
  height: 23;
  font-size: 11;
  border-radius: 11.5;
  background-color: $color-badge-default;
  color: white;
  margin: 10 0 0;
  &.activated {
    background-color: white;
    color: $color-default;
    font-weight: bold;
  }
}
