<GridLayout
  android:class="is-android"
  rows="auto, *"
  width="100%"
  height="100%"
>
  <!-- Barra de navegação superior -->
  <GridLayout
    row="0"
    class="customActionBar"
    columns="auto, *, auto"
    rows="auto"
  >
    <Label
      col="0"
      (tap)="page.frame.goBack()"
      clearHistory="true"
      pageTransition="slideRight"
      text="&#xe5c4;"
      class="mdi btn-back-roud"
    ></Label>
    <Label
      row="0"
      col="2"
      [text]="'icomoon-logo-oficial-v3' | fonticon"
      class="icomoon menu logo blue"
    ></Label>
  </GridLayout>
  <!-- Tela -->
  <GridLayout
    row="1"
    class="page page-anamnesis"
    rows="*, auto"
    height="100%"
    width="100%"
  >
    <CardView
      class="br-10"
      row="0"
      ios:margin="2 5"
      android:margin="5"
      [shadowOpacity]="0.1"
      android:shadowOffsetHeight="0"
      ios:shadowOffsetHeight="1"
      android:radius="20"
      ios:radius="10"
      width="90%"
    >
      <ScrollView class="br-10">
        <ActivityIndicator *ngIf="!loadedAsync" busy="true"></ActivityIndicator>
        <WrapLayout
          *ngIf="loadedAsync"
          orientation="horizontal"
          width="100%"
          class="anamnese-info form"
        >
          <!-- Título -->
          <Label class="h3 title-page" text="Anamnese"></Label>
          <Label
            class="h4"
            text="Por favor, analise todas as questões e responda corretamente e com detalhes se solicitado."
            textWrap="true"
          ></Label>
          <Label class="separator"></Label>
          <!-- Dados da Anaminese -->
          <GridLayout
            columns="*, auto"
            rows="auto, auto, *, 15"
            *ngFor="let item of anamneseInfo; let i = index"
            class="anamnese-grid"
          >
            <Label
              row="0"
              col="0"
              rowSpan="2"
              [text]="item.title_question"
              textWrap="true"
              class="question"
            ></Label>
            <Switch
              class="choice"
              [checked]="item.value || item.quests_anamneses !== undefined"
              (checkedChange)="onChecked($event, item)"
              row="0"
              col="1"
            ></Switch>
            <StackLayout
              height="auto"
              flexDirection="column"
              row="2"
              colSpan="2"
              class="input-field"
              *ngIf="item.sub_title_quetion !== undefined && item.value"
            >
              <GridLayout
                height="auto"
                columns="auto, auto"
                rows="auto, auto"
                *ngFor="
                  let subitem of item.sub_title_quetion;
                  let index = index
                "
                class="sub-row"
              >
                <Label
                  row="0"
                  col="0"
                  [text]="subitem.title"
                  textWrap="true"
                  class="sub-question"
                ></Label>
                <TextField
                  row="1"
                  col="0"
                  (textChange)="changeInfo($event, subitem)"
                  [text]="subitem.value"
                  class="input hr-light"
                  [ngClass]="{
                    invalid:
                      (subitem && subitem.value && subitem.value.length == 0) ||
                      (subitem.invalid &&
                        subitem.invalid &&
                        subitem.value.length == 0)
                  }"
                  hint="Mais detalhes.."
                >
                </TextField>
              </GridLayout>
            </StackLayout>
            <Label
              *ngIf="!(anamneseInfo.length - 1 == i)"
              row="3"
              colSpan="2"
              orientation="horizontal"
              horizontalAlignment="right"
              verticalAlignment="center"
              class="line"
            ></Label>
          </GridLayout>
        </WrapLayout>
      </ScrollView>
    </CardView>
    <StackLayout row="1" class="width-full" orientation="vertical">
      <Button
        (tap)="saveAnaminesis()"
        [class.disabled]="!loadedAsync"
        [isEnabled]="loadedAsync"
        text="Salvar"
        class="btn-rounded-sm btn-submit"
      >
      </Button>
    </StackLayout>
  </GridLayout>
</GridLayout>
