<GridLayout
  android:class="is-android"
  rows="auto, auto, *"
  width="100%"
  height="100%"
  (loaded)="subscribe(); connectPusher()"
>
  <StackLayout row="0" class="customActionBar">
    <GridLayout columns="auto, *, auto" rows="auto">
      <Label
        col="0"
        [nsRouterLink]="['/messages']"
        (tap)="disconnectPusher()"
        clearHistory="true"
        pageTransition="slideRight"
        text="&#xe5c4;"
        class="mdi btn-back-roud"
      ></Label>
    </GridLayout>
  </StackLayout>

  <StackLayout
    row="1"
    height="auto"
    *ngIf="otherUserInfo"
    backgroundColor="#FDFBFB"
  >
    <StackLayout
      class="contact-user"
      contact-user
      [contact]="otherUserInfo"
      [show-recipe]="true"
      [show-contact]="true"
      [show-info]="false"
    ></StackLayout>
    <Label class="header connected"></Label>
  </StackLayout>

  <ScrollView row="2">
    <WrapLayout height="100%">
      <GridLayout height="100%" rows="*,auto" width="100%">
        <StackLayout
          row="0"
          height="100%"
          horizontalAlignment="center"
          verticalAlignment="center"
        >
          <ActivityIndicator
            *ngIf="!loadedAsync"
            busy="true"
          ></ActivityIndicator>
          <message-item
            *ngIf="loadedAsync"
            height="100%"
            (pagination)="paginateMessages($event)"
            [ready]="allComments.loaded"
            [messages]="allComments"
            name="{{ userProfile.name }}"
          ></message-item>
        </StackLayout>
        <StackLayout
          row="1"
          class="send-comments"
          orientation="horizontal"
          height="auto"
          [formGroup]="formComment"
        >
          <AbsoluteLayout row="0" col="0" height="auto" width="100%">
            <Label
              class="text hidden"
              left="15"
              top="15"
              id="myText"
              (textChange)="resizeHeightField($event)"
              text="{{ formComment.get('comments').value }}"
              textWrap="true"
            ></Label>
            <TextView
              id="textView"
              class="text"
              left="15"
              top="15"
              textWrap="true"
              (focus)="startWrite()"
              (blur)="finishWrite()"
              height="{{ heightBox }}"
              editable="true"
              name="comments"
              formControlName="comments"
              hint="Mande uma mensagem…"
            >
            </TextView>
            <Button
              left="{{ (screen.mainScreen.widthDIPs / 100) * 80 }}"
              height="{{ heightBox }}"
              (tap)="sendComment()"
              text="&#xe5c8;"
              class="mdi submit-comment"
              isEnabled="{{ !inProccess }}"
            >
            </Button>
          </AbsoluteLayout>
        </StackLayout>
      </GridLayout>
    </WrapLayout>
  </ScrollView>
</GridLayout>
