@import "~/fonts/variables/_colors.scss";

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999999;
}

.overlay .overlay-body .overlay-content {
  vertical-align: center;
  background-color: transparent;
}
