.icomoon-copy:before {
  content: "\e91f";
}
.icomoon-medico .path1:before {
  content: "\e90d";
  color: rgb(28, 235, 194);
}
.icomoon-medico .path2:before {
  content: "\e90e";
  margin-left: -3.869140625em;
  color: rgb(28, 235, 194);
}
.icomoon-medico .path3:before {
  content: "\e90f";
  margin-left: -3.869140625em;
  color: rgb(28, 235, 194);
}
.icomoon-medico .path4:before {
  content: "\e910";
  margin-left: -3.869140625em;
  color: rgb(28, 235, 194);
}
.icomoon-medico .path5:before {
  content: "\e911";
  margin-left: -3.869140625em;
  color: rgb(28, 235, 194);
}
.icomoon-medico .path6:before {
  content: "\e912";
  margin-left: -3.869140625em;
  color: rgb(28, 235, 194);
}
.icomoon-medico .path7:before {
  content: "\e913";
  margin-left: -3.869140625em;
  color: rgb(66, 191, 239);
}
.icomoon-medico .path8:before {
  content: "\e914";
  margin-left: -3.869140625em;
  color: rgb(28, 235, 194);
}
.icomoon-medico .path9:before {
  content: "\e915";
  margin-left: -3.869140625em;
  color: rgb(28, 235, 194);
}
.icomoon-negativa_medico .path1:before {
  content: "\e916";
  color: rgb(255, 255, 255);
}
.icomoon-negativa_medico .path2:before {
  content: "\e917";
  margin-left: -3.8681640625em;
  color: rgb(255, 255, 255);
}
.icomoon-negativa_medico .path3:before {
  content: "\e918";
  margin-left: -3.8681640625em;
  color: rgb(255, 255, 255);
}
.icomoon-negativa_medico .path4:before {
  content: "\e919";
  margin-left: -3.8681640625em;
  color: rgb(255, 255, 255);
}
.icomoon-negativa_medico .path5:before {
  content: "\e91a";
  margin-left: -3.8681640625em;
  color: rgb(255, 255, 255);
}
.icomoon-negativa_medico .path6:before {
  content: "\e91b";
  margin-left: -3.8681640625em;
  color: rgb(255, 255, 255);
}
.icomoon-negativa_medico .path7:before {
  content: "\e91c";
  margin-left: -3.8681640625em;
  color: rgb(66, 191, 239);
}
.icomoon-negativa_medico .path8:before {
  content: "\e91d";
  margin-left: -3.8681640625em;
  color: rgb(255, 255, 255);
}
.icomoon-negativa_medico .path9:before {
  content: "\e91e";
  margin-left: -3.8681640625em;
  color: rgb(255, 255, 255);
}
.icomoon-logo-oficial-v3:before {
  content: "\e90c";
}
.icomoon-location:before {
  content: "\e90b";
}
.icomoon-important:before {
  content: "\e90a";
}
.icomoon-list:before {
  content: "\e900";
}
.icomoon-doctor:before {
  content: "\e908";
}
.icomoon-heart:before {
  content: "\e909";
}
.icomoon-config:before {
  content: "\e906";
}
.icomoon-messages:before {
  content: "\e907";
}
.icomoon-close:before {
  content: "\e905";
}
.icomoon-exit:before {
  content: "\e904";
}
.icomoon-cell:before {
  content: "\e903";
}
.icomoon-logo-oficial:before {
  content: "\e902";
}
.icomoon-clock-icon:before {
  content: "\e901";
}
.icomoon-add-user:before {
  content: "\e92c";
}
.icomoon-add-document:before {
  content: "\e92d";
}
.icomoon-plus-round:before {
  content: "\e92e";
}
.icomoon-next:before {
  content: "\e947";
}
.icomoon-prev:before {
  content: "\e948";
}
.icomoon-user:before {
  content: "\e949";
}
.icomoon-medical:before {
  content: "\e94a";
}
.icomoon-document:before {
  content: "\e94b";
}
.icomoon-email:before {
  content: "\e94c";
}
.icomoon-phone:before {
  content: "\e94d";
}
.icomoon-genre:before {
  content: "\e94e";
}
.icomoon-flag:before {
  content: "\e94f";
}
.icomoon-towner:before {
  content: "\e950";
}
.icomoon-pin:before {
  content: "\e951";
}
.icomoon-lock:before {
  content: "\e952";
}
.icomoon-chat:before {
  content: "\e953";
}
.icomoon-text-file:before {
  content: "\e954";
}
.icomoon-edit:before {
  content: "\e955";
}
.icomoon-home:before {
  content: "\e956";
}
.icomoon-paper:before {
  content: "\e957";
}
.icomoon-message:before {
  content: "\e958";
}
.icomoon-calendar:before {
  content: "\e959";
}
.icomoon-search:before {
  content: "\e95a";
}
.icomoon-pills:before {
  content: "\e95b";
}
.icomoon-eye-dropper:before {
  content: "\e95c";
}
.icomoon-time:before {
  content: "\e95d";
}
.icomoon-alert-time:before {
  content: "\e95e";
}
.icomoon-play:before {
  content: "\e95f";
}
.icomoon-start:before {
  content: "\e960";
}
.icomoon-checked:before {
  content: "\e961";
}
.icomoon-error:before {
  content: "\e962";
}
