@import "~/fonts/variables/_colors.scss";

.date {
  padding: 0 10;
  background-color: $color-bg-page;
}

.content {
  margin: 0;
  padding: 10;
  .title {
    font-size: 16;
  }
  .avatar {
    width: 38;
    height: 38;
    border-radius: 19;
    margin: 10;
  }
  .info {
    font-size: 12;
    font-style: italic;
    color: #989898;
  }
  .type {
    .icomoon {
      border-radius: 7;
      vertical-align: center;
      text-align: center;
      font-size: 14;
      background-color: white;
      color: #1c5586;
    }
    .info {
      margin: 0 5;
      color: #6a6a6a;
      font-style: normal;
    }
  }
}
.title {
  color: $color-default;
  font-size: 15;
  margin: 0;
  font-weight: bold;
}
.action {
  width: 65;
  height: 100%;
  background-color: $color-default;
  padding: 0;
  margin: 0;
  vertical-align: center;
  text-align: center;
  .icomoon {
    font-size: 25;
    height: auto;
    margin: 37% 0;
    color: white;
    vertical-align: center;
    text-align: center;
  }
}

.modal {
  padding: 30 15 15;
  .close-treatment {
    background-color: red;
    color: white;
    padding: 15;
    .icomoon {
      font-family: "icomoon";
      font-size: 12;
      padding: 0;
    }
  }
}

.list-medicine {
  width: 90%;
  .br-12 {
    width: 45%;
    border-width: 1;
    font-size: 14;
    text-transform: uppercase;
    font-weight: bold;
    margin: 15 0 0;
    padding: 15 10;
    &.dismiss {
      background-color: white;
      border-color: #9b9fa7;
      color: #9c9fa7;
    }
    &.to-take {
      background-color: $color-default;
      border-color: $color-default;
      color: white;
      &.only-one {
        width: 100%;
      }
    }
  }
}
