<AbsoluteLayout android:class="is-android">
  <!-- Barra de navegação superior -->
  <GridLayout
    top="0"
    left="0"
    class="customActionBar"
    columns="auto, *, auto"
    rows="auto"
  >
    <Label
      col="0"
      row="0"
      (tap)="onDrawerButtonTap(true)"
      text="&#xe5d2;"
      class="mdi menu"
    ></Label>
    <Label
      col="3"
      row="0"
      [text]="'icomoon-logo-oficial-v3' | fonticon"
      class="icomoon menu logo"
    ></Label>
  </GridLayout>
  <!-- Tela -->
  <GridLayout
    top="60"
    left="0"
    class="page page-recipes-document"
    rows="auto, *, 15, 95"
    height="{{
      ((screen.mainScreen.heightDIPs - 60) / 100) * (isAndroid ? 90 : 98)
    }}"
    width="100%"
  >
    <!-- Conteúdo  -->
    <GridLayout rows="auto, auto, *" height="100%" width="94%" margin="0 3%">
      <!-- Cabeçalho  -->
      <StackLayout row="0">
        <!-- Título -->
        <Label class="h3 title-page" text="Meus Tratamentos"></Label>
        <!-- Dia -->
        <FlexboxLayout flexDirection="column" class="list-divisor">
          <AbsoluteLayout>
            <Label class="line" left="0" top="{{ isAndroid ? 5 : 10 }}"></Label>
            <Label class="date" left="0" top="14" [text]="today"></Label>
          </AbsoluteLayout>
        </FlexboxLayout>
      </StackLayout>
      <!-- Carregamento -->
      <StackLayout
        row="1"
        *ngIf="!loadedAsync"
        horizontalAlignment="center"
        verticalAlignment="center"
        width="100%"
      >
        <ActivityIndicator busy="true"></ActivityIndicator>
      </StackLayout>
      <!-- Conteúdo  -->
      <ScrollView
        row="2"
        #terminalScroller
        id="scroll"
        *ngIf="loadedAsync"
        verticalAlignment="top"
        backgroundColor="white"
      >
        <WrapLayout>
          <CardView
            *ngFor="let item of medicines; let index = index"
            class="br-10"
            [shadowOpacity]="0.1"
            android:shadowOffsetHeight="0"
            ios:shadowOffsetHeight="1"
            android:radius="20"
            ios:radius="10"
            margin="{{ isAndroid ? '10 3% 5' : '10 3% 5' }}"
          >
            <FlexboxLayout flexDirection="column" alignItems="stretch">
              <!--< Diretiva -->
              <GridLayout
                *ngIf="!item.taken && !isNumber(item.taken)"
                class="br-10"
                columns="*, auto"
                rows="auto"
              >
                <StackLayout col="0" row="0">
                  <GridLayout
                    columns="auto, *"
                    rows="auto, auto, auto"
                    class="content"
                  >
                    <Label
                      row="0"
                      colSpan="2"
                      class="title"
                      [text]="item.title"
                    ></Label>
                    <ImageCacheIt
                      class="avatar"
                      row="1"
                      col="0"
                      [src]="item.doctor_image"
                    ></ImageCacheIt>
                    <StackLayout row="1" col="1" height="40">
                      <Label [text]="item.doctor_name" class="title"></Label>
                      <Label
                        [text]="item.doctor_especialty"
                        class="info"
                      ></Label>
                    </StackLayout>
                    <StackLayout
                      row="2"
                      colSpan="2"
                      class="type"
                      orientation="horizontal"
                    >
                      <StackLayout orientation="horizontal">
                        <Label
                          [text]="'icomoon-time' | fonticon"
                          class="icomoon"
                        ></Label>
                        <Label [text]="item.hour_medical" class="info"></Label>
                      </StackLayout>
                      <StackLayout orientation="horizontal">
                        <Label
                          [text]="'icomoon-important' | fonticon"
                          class="icomoon"
                        ></Label>
                        <Label [text]="item.dosage" class="info"></Label>
                      </StackLayout>
                    </StackLayout>
                  </GridLayout>
                </StackLayout>
                <StackLayout
                  col="1"
                  row="0"
                  class="action"
                  verticalAlignment="stretch"
                  textAlignment="center"
                  (tap)="showModal(item)"
                >
                  <Label
                    row="0"
                    class="action"
                    orientation="vertical"
                    verticalAlignment="center"
                    alignItems="center"
                    [text]="'icomoon-pills' | fonticon"
                    class="icomoon"
                  ></Label>
                </StackLayout>
              </GridLayout>
              <!-- Diretiva >-->
            </FlexboxLayout>
          </CardView>
        </WrapLayout>
      </ScrollView>
    </GridLayout>
  </GridLayout>
  <!-- Imagens decorativas -->
  <GridLayout
    *ngIf="
      displayOption.takenToday ||
      displayOption.emptyToday ||
      displayOption.neverStarted
    "
    top="60"
    rows="*"
    height="100%"
    width="100%"
  >
    <!--< Se houve medicamentos para hoje e já foram tomados -->
    <FlexboxLayout
      *ngIf="displayOption.takenToday"
      row="0"
      class="decoration"
      width="100%"
      justifyContent="space-around"
      alignItems="stretch"
    >
      <Image
        alignSelf="center"
        src="~/image-source/taken-today.png"
        width="80%"
      ></Image>
    </FlexboxLayout>
    <!--< Se não houve houve medicamentos para hoje -->
    <FlexboxLayout
      *ngIf="displayOption.emptyToday"
      row="0"
      class="decoration"
      width="100%"
      justifyContent="space-around"
      alignItems="stretch"
    >
      <Image
        alignSelf="center"
        src="~/image-source/empty-today.png"
        width="80%"
      ></Image>
    </FlexboxLayout>
    <!--< Se há tratamentos que não fotam iniciados -->
    <FlexboxLayout
      *ngIf="displayOption.neverStarted"
      row="0"
      class="decoration"
      width="100%"
      justifyContent="space-around"
      alignItems="stretch"
    >
      <Image
        alignSelf="center"
        src="~/image-source/not-started.png"
        width="65%"
      ></Image>
    </FlexboxLayout>
  </GridLayout>
  <CardView
    *ngIf="displayOption.neverStarted"
    class="card-float-button"
    [shadowOpacity]="0.4"
    shadowOffsetHeight="1"
    radius="110"
    orientation="horizontal"
    horizontalAlignment="center"
    verticalAlignment="center"
    left="{{ (screen.mainScreen.widthDIPs / 100) * (isAndroid ? 76 : 74) }}"
    top="{{ (screen.mainScreen.heightDIPs / 100) * (isAndroid ? 78 : 82) }}"
  >
    <Label
      [nsRouterLink]="['/my-recipes']"
      pageTransition="slideLeft"
      text="&#xe92e;"
      class="icomoon float-button"
    ></Label>
  </CardView>
  <!-- Modal -->
  <GridLayout
    top="0"
    left="0"
    height="100%"
    width="100%"
    [style.zIndex]="999"
    modal
    size="md"
    alignment="middle"
    [dismissable]="!isAndroid"
    [duration]="100"
    (close)="onCloseModal()"
  >
    <GridLayout
      rows="auto, auto"
      columns="auto, *, auto"
      class="modal"
      padding="0 0 15"
    >
      <StackLayout row="0" col="2" (tap)="closeModal()" class="close-treatment">
        <Label [text]="'icomoon-close' | fonticon" class="icomoon"></Label>
      </StackLayout>
      <GridLayout
        *ngIf="selectedMedicine != null"
        row="1"
        col="0"
        colSpan="3"
        rows="*, auto"
        columns="auto, *"
        class="list-medicine"
        orientation="horizontal"
        horizontalAlignment="center"
        verticalAlignment="center"
      >
        <StackLayout row="0" colSpan="2">
          <SlackLayout medicine-item [item]="selectedMedicine"></SlackLayout>
        </StackLayout>
        <FlexboxLayout
          row="1"
          colSpan="2"
          flexDirection="row"
          justifyContent="space-around"
          alignItems="stretch"
          width="110%"
        >
          <Button
            *ngIf="selectedMedicine.schedule_generate != 0"
            (tap)="sendInformationAboutMedication(false)"
            text="Pular"
            class="br-12 dismiss"
            alignSelf="flex-start"
          ></Button>
          <Button
            [ngClass]="{ 'only-one': selectedMedicine.schedule_generate == 0 }"
            (tap)="sendInformationAboutMedication(true)"
            text="{{
              selectedMedicine.schedule_generate == 0
                ? 'Tomar a 1º dose do medicamento'
                : 'Tomar dose'
            }}"
            class="br-12 to-take"
            alignSelf="flex-end"
          ></Button>
        </FlexboxLayout>
      </GridLayout>
    </GridLayout>
  </GridLayout>
  <!--< Tela sem conteúdo -->
  <GridLayout
    isUserInteractionEnabled="false"
    *ngIf="needTakeMedication() > 0"
    top="{{ screen.mainScreen.heightDIPs / 1.5 }}"
    class="empty-view"
    rows="*"
  >
    <GridLayout
      row="0"
      rows="auto, auto"
      class="decoration"
      width="60%"
      justifyContent="space-around"
      alignItems="stretch"
    >
      <Label
        row="0"
        [text]="'icomoon-pills' | fonticon"
        class="icomoon"
      ></Label>
      <Label
        row="1"
        text="Tome a sua primeira dose do seu novo tratamento."
        class="text"
        textWrap="true"
      ></Label>
    </GridLayout>
  </GridLayout>
  <!-- Tela sem conteúdo >-->
</AbsoluteLayout>
