<GridLayout
  android:class="is-android"
  rows="auto, *"
  width="100%"
  height="100%"
>
  <!-- Barra de navegação superior -->
  <GridLayout
    row="0"
    class="customActionBar"
    columns="auto, *, auto"
    rows="auto"
  >
    <Label
      col="0"
      (tap)="page.frame.goBack()"
      clearHistory="true"
      pageTransition="slideRight"
      text="&#xe5c4;"
      class="mdi btn-back-roud"
    ></Label>
    <Label
      row="0"
      col="2"
      [text]="'icomoon-logo-oficial-v3' | fonticon"
      class="icomoon menu logo blue"
    >
    </Label>
  </GridLayout>
  <!--< Conteúdo -->
  <ScrollView row="1" class="page page-terms">
    <StackLayout
      *ngIf="!loaded"
      top="0"
      left="0"
      width="100%"
      height="100%"
      orientation="horizontal"
      horizontalAlignment="center"
      verticalAlignment="center"
    >
      <ActivityIndicator busy="true"></ActivityIndicator>
    </StackLayout>
    <StackLayout *ngIf="loaded" class="all-content">
      <!-- Título -->
      <StackLayout orientation="horizontal">
        <Label
          textWrap="true"
          horizontalAlignment="left"
          class="h1"
          style="color: #046B9E; font-size:20; font-weight: bold;"
          text="Termo de uso Dr Pediu"
        ></Label>
      </StackLayout>
      <HtmlView html="{{ htmlString }}"></HtmlView>
    </StackLayout>
  </ScrollView>
  <!-- Conteúdo >-->
</GridLayout>
