@import "~/fonts/variables/_colors.scss";

.page-patients {
  background-color: $color-bg-page;
  padding: 5 0;
}

.list-patients {
  background-color: transparent;
  separator-color: transparent;
}

.item-list {
  .avatar {
    width: 50;
    height: 50;
    border-radius: 25;
  }

  .text-box {
    height: 25;
    text-align: left;
  }

  .title {
    font-size: 18;
  }

  .time {
    font-size: 13;
  }

  .description {
    font-size: 14;
  }

  .badge {
    width: 23;
    height: 23;
    border-radius: 11.5;
    background-color: #dd6e42;
    color: white;
  }

  .input-font {
    height: 25;
    font-size: 14;
    color: #ffba49;
    text-align: center;
  }
  &.activated {
    color: white;
    background-color: $color-default;
    .badge {
      color: $color-default;
      background-color: white;
      font-weight: bold;
    }
  }
}
