@import "~/fonts/variables/_colors.scss";

.page-my-doctors {
  background-color: $color-bg-page;
  padding: 5 0;
}

.list-patients {
  background-color: transparent;
  separator-color: transparent;
}

.list-view-item {
  .avatar {
    width: 50;
    height: 50;
    border-radius: 25;
  }

  .title {
    color: #5d5d5d;
    font-size: 18;
  }

  .description {
    color: #5d5d5d;
    font-size: 14;
    font-weight: lighter;
  }

  .input-font {
    height: 50;
    font-size: 14;
    color: #ffba49;
    text-align: center;
  }
}
