<GridLayout
  android:class="is-android"
  rows="auto, *"
  width="100%"
  height="100%"
>
  <!-- Barra de navegação superior -->
  <GridLayout
    row="0"
    class="customActionBar"
    columns="auto, *, auto"
    rows="auto"
  >
    <Label
      col="0"
      row="0"
      (tap)="onDrawerButtonTap(true)"
      text="&#xe5d2;"
      class="mdi menu"
    ></Label>
    <Label
      col="3"
      row="0"
      [text]="'icomoon-logo-oficial-v3' | fonticon"
      class="icomoon menu logo"
    ></Label>
  </GridLayout>
  <!-- Tela -->
  <AbsoluteLayout
    row="1"
    class="page page-doctors"
    width="100%"
    ios:height="91%"
    android:height="93%"
    padding="0"
    margin="0"
  >
    <!-- Conteúdo  -->
    <GridLayout
      *ngIf="displayOption.hasList"
      rows="auto, auto, *"
      top="0"
      height="100%"
      width="94%"
      margin="0 3%"
    >
      <!-- Cabeçalho  -->
      <StackLayout row="0">
        <!-- Título -->
        <Label class="h3 title-page" text="Meus Médicos"></Label>
        <!-- Busca -->
        <CardView
          [shadowOpacity]="0.1"
          android:shadowOffsetHeight="0"
          ios:shadowOffsetHeight="1"
          android:radius="20"
          ios:radius="10"
          margin="{{ isAndroid ? '1 3% 2' : '0 3%' }}"
          search-top-bar
          (search)="search($event)"
          placeholder="Pesquisar"
          icon="icomoon-search"
          icon-position="right"
        >
        </CardView>
      </StackLayout>
      <!-- Carregamento -->
      <!-- Carregamento -->
      <StackLayout
        row="1"
        *ngIf="!loadedAsync"
        horizontalAlignment="center"
        verticalAlignment="center"
        width="100%"
      >
        <ActivityIndicator busy="true"></ActivityIndicator>
      </StackLayout>
      <!-- Lista vazia -->
      <StackLayout
        row="1"
        class="empty-list"
        *ngIf="myDoctors.length == 0"
        horizontalAlignment="center"
        verticalAlignment="center"
        ios:top="97"
        android:top="101"
      >
        <Label text="Nenhum registro encontrado."></Label>
      </StackLayout>
      <!-- Conteúdo  -->
      <ScrollView row="2">
        <!--< Listagem -->
        <ListView
          *ngIf="loadedAsync"
          height="{{
            ((screen.mainScreen.heightDIPs - 62) / 100) * (isAndroid ? 70 : 80)
          }}"
          [items]="myDoctors"
          (loadMoreItems)="loadMore()"
          class="list-patients"
        >
          <ng-template let-item="item" let-i="index">
            <CardView
              class="item-list"
              [shadowOpacity]="0.1"
              android:shadowOffsetHeight="0"
              ios:shadowOffsetHeight="1"
              android:radius="20"
              ios:radius="10"
            >
              <StackLayout
                simple-item
                [item]="item"
                [image-field]="item.image"
                [title-field]="item.name"
                [description-field]="item.specialty"
                [link-field]="'/my-doctors-details/' + item.id"
              ></StackLayout>
            </CardView>
          </ng-template>
        </ListView>
        <!-- Listagem >-->
      </ScrollView>
    </GridLayout>
    <!--< Tela sem conteúdo -->
    <GridLayout
      *ngIf="loadedAsync && displayOption.emptyList"
      top="{{ screen.mainScreen.heightDIPs / 2 - 150 }}"
      class="empty-view"
      rows="*"
    >
      <GridLayout
        row="0"
        rows="auto, auto"
        class="decoration"
        width="60%"
        justifyContent="space-around"
        alignItems="stretch"
      >
        <Label
          row="0"
          [text]="'icomoon-doctor' | fonticon"
          class="icomoon"
        ></Label>
        <Label
          row="1"
          text="Você não tem nenhum médico vinculado."
          class="text"
          textWrap="true"
        ></Label>
      </GridLayout>
    </GridLayout>
    <!-- Tela sem conteúdo >-->
  </AbsoluteLayout>
</GridLayout>
