<GridLayout
  (unloaded)="stopPositionMonitoring()"
  android:class="is-android"
  rows="auto, *"
  width="100%"
  height="100%"
>
  <!-- Barra de navegação superior -->
  <GridLayout
    row="0"
    class="customActionBar"
    columns="auto, *, auto"
    rows="auto"
  >
    <Label
      col="0"
      row="0"
      (tap)="onDrawerButtonTap(true)"
      text="&#xe5d2;"
      class="mdi menu"
    ></Label>
    <Label
      col="3"
      row="0"
      [text]="'icomoon-logo-oficial-v3' | fonticon"
      class="icomoon menu logo"
    ></Label>
  </GridLayout>
  <!-- Tela -->
  <AbsoluteLayout
    row="1"
    class="page page-drug-proposal"
    width="100%"
    ios:height="91%"
    android:height="93%"
    padding="0"
    margin="0"
  >
    <StackLayout
      *ngIf="!loadedAsync"
      top="0"
      left="0"
      width="100%"
      height="100%"
      orientation="horizontal"
      horizontalAlignment="center"
      verticalAlignment="center"
    >
      <ActivityIndicator busy="true"></ActivityIndicator>
    </StackLayout>
    <!-- Mapa -->
    <MapView
      [isUserInteractionEnabled]="!currentPin"
      top="0"
      left="0"
      width="100%"
      height="100%"
      #mapView
      id="mapView"
      [latitude]="currentPosition.latitude"
      [longitude]="currentPosition.longitude"
      [zoom]="currentPosition.zoom"
      [minZoom]="minZoom"
      [maxZoom]="maxZoom"
      [bearing]="bearing"
      [tilt]="tilt"
      i-padding="50,50,50,50"
      (mapReady)="onMapReady($event)"
      (markerSelect)="onMarkerEvent($event)"
    >
    </MapView>
    <!-- Busca -->
    <StackLayout
      [isUserInteractionEnabled]="!currentPin"
      width="94%"
      margin="0 3%"
      top="25"
      left="0"
      orientation="horizontal"
      horizontalAlignment="right"
    >
      <CardView
        class="search-map"
        [shadowOpacity]="0.1"
        android:shadowOffsetHeight="0"
        ios:shadowOffsetHeight="1"
        android:radius="20"
        ios:radius="10"
        margin="{{ isAndroid ? '1 3% 2' : '0 3%' }}"
        search-top-bar
        (search)="search($event)"
        placeholder="Pesquisar"
        icon="icomoon-search"
        icon-position="right"
      >
      </CardView>
      <CardView
        (tap)="getInitialLocation(19, 0)"
        [shadowOpacity]="0.4"
        shadowOffsetHeight="1"
        radius="62"
        orientation="horizontal"
        horizontalAlignment="center"
        verticalAlignment="center"
        class="location"
      >
        <Label
          ios:width="45"
          ios:height="43"
          [text]="'icomoon-location' | fonticon"
          class="icomoon"
        ></Label>
      </CardView>
    </StackLayout>
    <!-- Modal de Interação -->
    <GridLayout
      left="0"
      top="0"
      height="100%"
      width="100%"
      [style.zIndex]="999"
      modal
      size="sm"
      alignment="middle"
      [dismissable]="false"
      [duration]="100"
      class="modal"
    >
      <GridLayout rows="auto, *" columns="auto, *, auto" class="default">
        <StackLayout row="0" col="2" (tap)="closeModal()" class="close">
          <Label [text]="'icomoon-close' | fonticon" class="icomoon"></Label>
        </StackLayout>
        <StackLayout
          row="1"
          col="0"
          colSpan="3"
          class="info-map"
          *ngIf="currentPin"
          orientation="vertical"
          backgroundColor="white"
        >
          <StackLayout
            orientation="horizontal"
            horizontalAligment="center"
            style="color: #046B9E; font-size:17; font-weight: bold; text-transform: capitalize;"
          >
            <Label
              text="{{ currentPin.new_title }}"
              horizontalAligment="center"
            >
            </Label>
          </StackLayout>
          <StackLayout style="margin:5 0" class="hr-dark"></StackLayout>
          <StackLayout orientation="horizontal">
            <Label
              text="Endereço: "
              textWrap="true"
              style="color: #666; font-size:12; text-transform: capitalize; font-weight: bold;"
            >
            </Label>
            <Label
              style="color: #999; font-size:12; text-transform: capitalize;"
              text="{{ currentPin.street_title }}"
              textWrap="true"
            >
            </Label>
          </StackLayout>
          <StackLayout orientation="horizontal">
            <Label
              text="Bairro: "
              style="color: #666; font-size:12; text-transform: capitalize; font-weight: bold;"
            >
            </Label>
            <Label
              style="color: #999; font-size:12; text-transform: capitalize;"
              text="{{ currentPin.district }}"
              textWrap="true"
            >
            </Label>
          </StackLayout>
          <StackLayout orientation="horizontal">
            <Label
              text="Telefone: "
              style="color: #666; font-size:12; text-transform: capitalize; font-weight: bold;"
            >
            </Label>
            <Label
              style="color: #999; font-size:12;"
              text="{{ currentPin.fone }}"
              textWrap="true"
            >
            </Label>
          </StackLayout>
          <StackLayout
            orientation="horizontal"
            style="width: 210; text-align: center;"
          >
            <Label
              (tap)="showInGMaps(currentPin)"
              style="width: 210; text-align: center;color: #046B9E; font-size:13; margin:10 0"
              text="Visualize no Google Maps"
              textWrap="true"
            >
            </Label>
          </StackLayout>
        </StackLayout>
      </GridLayout>
    </GridLayout>
  </AbsoluteLayout>
</GridLayout>
