@import "~/fonts/variables/_colors.scss";

.search-map {
  width: 82%;
  height: 45;
}

.location {
  width: 45;
  height: 45;
  background-color: $color-badge-default;
  .icomoon {
    border-radius: 12.5;
    font-size: 25;
    text-align: center;
    vertical-align: center;
    padding: 0;
    margin: 0;
    background-color: $color-badge-default;
    border-width: 0;
    color: white;
  }
}

.modal {
  width: 100%;
  height: auto;
  border-radius: 10;
  background-color: transparent;
  .default {
    width: 100%;
    height: 200;
    border-radius: 10;
    background-color: white;
    overflow: hidden;
    &.auto {
      height: auto;
      margin: 0;
    }
  }
  .info-map {
    padding: 15;
    border-radius: 10;
  }
  .close {
    background-color: red;
    color: white;
    padding: 15;
    .icomoon {
      font-family: "icomoon";
      font-size: 12;
      padding: 0;
    }
  }
}
