@import "~/fonts/variables/_colors.scss";

.my-recipes {
  .content {
    margin: 0;
    padding: 10;
    .title {
      font-size: 16;
    }
    .avatar {
      width: 38;
      height: 38;
      border-radius: 19;
      margin: 10;
    }
    .info {
      font-size: 12;
      font-style: italic;
      color: #989898;
    }
    .type {
      .icomoon {
        border-radius: 7;
        vertical-align: center;
        text-align: center;
        font-size: 14;
        background-color: white;
        color: #1c5586;
      }
      .info {
        margin: 0 5;
        color: #6a6a6a;
        font-style: normal;
      }
    }
  }
  .title {
    color: $color-default;
    font-size: 15;
    margin: 0;
    font-weight: bold;
  }
  .action {
    width: 65;
    height: 100%;
    background-color: $color-default;
    padding: 0;
    margin: 0;
    vertical-align: center;
    text-align: center;
    .icomoon {
      font-size: 25;
      height: auto;
      margin: 37% 0;
      color: white;
      vertical-align: center;
      text-align: center;
    }
  }
}
