<GridLayout rows="*" columns="*" height="100%" width="100%">
  <RadListView
    row="0"
    id="listView"
    [items]="messages.list"
    [pullToRefresh]="true"
    (pullToRefreshInitiated)="onPullToRefreshInitiated($event)"
  >
    <ng-template tkListItemTemplate let-item="item" let-i="index">
      <FlexboxLayout
        (loaded)="
          !newData ? scrollTo(true, this.messages.list.length - 1) : null
        "
        flexDirection="column"
        justifyContent="space-around"
        alignItems="stretch"
        width="100%"
      >
        <StackLayout
          class="messages"
          *ngIf="item"
          [ngClass]="{ 'my-message': item.user_name == name }"
          [alignSelf]="item.user_name == name ? 'flex-end' : 'flex-start'"
        >
          <GridLayout
            columns="*, auto"
            rows="*, auto"
            horizontalAlignment="left"
          >
            <StackLayout
              col="0"
              row="0"
              horizontalAlignment="left"
              verticalAlignment="center"
            >
              <Label text="{{ item.user_name }}" class="doc-title"></Label>
            </StackLayout>
            <StackLayout
              col="1"
              row="0"
              horizontalAlignment="right"
              verticalAlignment="center"
            >
              <Label [text]="formatDate(item.time)" class="doc-time"></Label>
            </StackLayout>
            <Label
              col="0"
              colSpan="2"
              row="1"
              [text]="item.comments"
              textWrap="true"
              class="body"
            ></Label>
          </GridLayout>
        </StackLayout>
      </FlexboxLayout>
    </ng-template>
  </RadListView>
</GridLayout>
