.bg-cover {
  background-image: url("~/image-source/BG.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.bg-cover-color {
  background-image: url("~/image-source/BGOverlay@2x.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.logotipo {
  width: 100%;
  margin: 60 0 30;
  color: white;
  font-size: 30%;
  .btn.icomoon {
    font-size: 100;
    text-align: center;
  }
}

.checkbox {
  color: white;
}

.input-field .input {
  color: white;
  placeholder-color: #ffffff;
  padding-left: 30;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 15;
  padding-bottom: 15;
  color: white;
}

.btn-simple {
  color: white;
  font-size: 12;
  text-transform: initial;
  text-decoration: underline;
  border-width: 1;
  border-color: transparent;
  text-shadow: 0;
}

.btn-facebook {
  width: 90%;
  height: 50;
  font-size: 13;
  font-weight: bold;
  border-color: white;
  border-width: 2;
  margin: 5 0 0;
}

.register {
  color: #3888a3;
}

.ng-invalid {
  border: 0;
}

.validation {
  background-color: #a94442;
  color: #ffffff;
}

.check-box {
  width: 100%;
  height: 40;
  color: white;
  margin: 10 0 15;
}

.check-box label {
  color: white;
}

.is_android .check-box label {
  margin: 5 0;
}

.forgot {
  color: white;
  font-size: 12;
  margin: 0 0 10;
  label {
    padding: 15 20;
    font-weight: bold;
  }
}
