<GridLayout
  android:class="medicine-itens isAndroid"
  ios:class="medicine-itens"
  columns="auto, *, auto, auto"
  rows="auto, auto, auto, auto, auto"
  [ngClass]="{ started: item.start_medical, finalized: item.end_period }"
>
  <!-- Remédio -->
  <StackLayout
    height="auto"
    row="0"
    col="0"
    colSpan="4"
    orientation="horizontal"
    horizontalAlignment="left"
    class="info-container"
  >
    <Label [text]="'icomoon-pills' | fonticon" class="icomoon"></Label>
    <Label
      colSpan="3"
      [text]="item.title"
      textWrap="true"
      class="info-medicine"
    ></Label>
  </StackLayout>
  <!-- Timeline -->
  <FlexboxLayout
    row="1"
    col="0"
    colSpan="4"
    flexWrap="wrap"
    justifyContent="space-around"
    alignItems="stretch"
    class="info-container"
  >
    <StackLayout orientation="horizontal" horizontalAlignment="left">
      <Label [text]="'icomoon-calendar' | fonticon" class="icomoon"></Label>
      <Label
        text="{{ item.start_period ? item.start_period : ' __/__/____  ' }}"
        class="info-medicine info-date-start"
      ></Label>
    </StackLayout>
    <GridLayout rows="auto" columns="10, *, 10" class="info-timeline">
      <Label
        col="0"
        alignSelf="center"
        class="info-point"
        [ngClass]="{ start: item.start_period }"
      ></Label>
      <AbsoluteLayout
        *ngIf="item"
        col="1"
        class="timeline"
        (loaded)="item.start_period ? getWidth($event, item) : ''"
      >
        <StackLayout
          top="0"
          left="0"
          *ngIf="item.width"
          orientation="horizontal"
          horizontalAlignment="left"
          [width]="item.width"
          class="status"
        ></StackLayout>
      </AbsoluteLayout>
      <Label
        col="2"
        alignSelf="center"
        class="info-point"
        [ngClass]="{ end: item.end_period }"
      ></Label>
    </GridLayout>
    <StackLayout orientation="horizontal" horizontalAlignment="right">
      <Label
        text="{{ item.end_period ? item.end_period : ' __/__/____  ' }}"
        class="info-medicine info-date-end"
      ></Label>
    </StackLayout>
  </FlexboxLayout>
  <!-- Dosagem -->
  <StackLayout
    row="2"
    col="0"
    colSpan="2"
    orientation="horizontal"
    horizontalAlignment="left"
  >
    <Label [text]="'icomoon-eye-dropper' | fonticon" class="icomoon"></Label>
    <Label
      textWrap="true"
      text="{{ item.dosage }} unidade{{ item.dosage > 1 ? 's' : '' }}"
      class="info-medicine"
    ></Label>
  </StackLayout>
  <StackLayout
    row="2"
    col="3"
    colSpan="2"
    orientation="horizontal"
    horizontalAlignment="right"
  >
    <Label [text]="'icomoon-time' | fonticon" class="icomoon"></Label>
    <Label
      textWrap="true"
      text="A cada {{ item.frequency }}h"
      class="info-medicine"
    ></Label>
  </StackLayout>
  <!-- Observações -->
  <StackLayout row="3" col="0" colSpan="4">
    <Label class="line"></Label>
    <Label class="info-medicine" text="Observações: "></Label>
    <Label class="info-content" textWrap="true" [text]="item.note"></Label>
  </StackLayout>
  <!-- Separador -->
  <Label
    *ngIf="itens"
    row="4"
    col="0"
    colSpan="4"
    visibility="{{ itens.length - 1 != index ? 'visible' : 'collapsed' }}"
    class="line"
  ></Label>
</GridLayout>
