@import "~/fonts/variables/_colors.scss";

.info-medicine {
  color: $color-default;
  font-size: 14;
  margin: 5 0;
  font-weight: bold;
}
.medicine-itens {
  width: 100%;
  height: auto;
  .info-container {
    width: 100%;
  }
  .info-timeline {
    width: 35%;
    margin-top: 10;
    background-repeat: repeat-x;
    background-position: center center;
  }
  .timeline {
    width: 100%;
    background-color: #e1e4ea;
    text-align: left;
    height: 3;
    .status {
      width: 1;
      height: 3;
      background-color: $color-actived;
    }
  }
  .info-date-start {
    margin-right: 2;
  }
  .info-date-end {
    margin-left: 5;
  }
  .info-point {
    width: 10;
    height: 10;
    background-color: #c2c7d1;
    border-radius: 5;
  }
  .info-content {
    color: #5d5d5d;
    font-size: 13;
    margin: 3 0;
  }
  .medicine-itens {
    padding: 0 7;
    margin: 5 0;
  }
  .icomoon {
    font-size: 12;
    margin: 2 3 0;
    color: #ffba49;
    &.btn-secound {
      width: 40;
      height: 40;
      font-size: 20;
      padding: 0;
      margin: 0;
      margin-right: 0;
      color: white;
    }
  }
  &.started {
    .info-timeline .info-point.start {
      background-color: $color-actived;
    }
  }
  &.finalized {
    .info-timeline .info-point.end {
      background-color: $color-actived;
    }
  }
}
.isAndroid {
  &.medicine-itens {
    .icomoon {
      margin-top: 7;
    }
  }
}
.line {
  width: 100%;
  height: 15;
  background-image: url("~/image-source/line-dashed.png");
  background-repeat: repeat-x;
  background-position: center center;
}
