<GridLayout
  class="contact-user"
  columns="auto, *, auto, auto, auto"
  rows="auto, auto"
  horizontalAlignment="center"
  width="100%"
>
  <!-- Imagem do usuário -->
  <StackLayout col="0" row="0">
    <ImageCacheIt
      *ngIf="userContact"
      loadMode="sync"
      horizontalAlignment="left"
      verticalAlignment="center"
      class="doc-avatar"
      src="{{ userContact.image }}"
    ></ImageCacheIt>
  </StackLayout>
  <!-- Nome do usuário -->
  <StackLayout
    col="1"
    row="0"
    [colSpan]="showContact ? 2 : 4"
    horizontalAlignment="left"
    verticalAlignment="center"
  >
    <Label
      *ngIf="userContact"
      [text]="userContact.name"
      horizontalAlignment="left"
      verticalAlignment="center"
      class="doc-title"
      textWrap="true"
    ></Label>
  </StackLayout>
  <!-- Contatos do usuário -->
  <Label
    col="2"
    row="0"
    *ngIf="showContact && userContact"
    (tap)="sendEmail(userContact.email)"
    horizontalAlignment="left"
    verticalAlignment="center"
    text="&#xe94c;"
    class="icomoon icon-btn-radius"
  ></Label>
  <Label
    col="3"
    row="0"
    *ngIf="showContact && userContact"
    (tap)="doCall(userContact.telephone)"
    horizontalAlignment="right"
    verticalAlignment="center"
    text="&#xe94d;"
    class="icomoon icon-btn-radius"
  ></Label>
  <Label
    col="4"
    row="0"
    *ngIf="showInfo"
    (tap)="showExternal.emit('taped')"
    horizontalAlignment="right"
    verticalAlignment="center"
    [text]="'icomoon-doctor' | fonticon"
    class="icomoon icon-btn-radius"
  >
  </Label>
  <!-- Receita vinculado ao usuário -->
  <StackLayout
    col="2"
    row="1"
    colSpan="3"
    *ngIf="showRecipe && userContact"
    [nsRouterLink]="['/recipes-document/' + userContact.recipe_id]"
    pageTransition="slideLeft"
    horizontalAlignment="right"
    verticalAlignment="center"
  >
    <FlexboxLayout class="btn-inner-default">
      <Label text="Visualizar Receita" class="btn-title"></Label>
    </FlexboxLayout>
  </StackLayout>
</GridLayout>
