@import "~/fonts/variables/_colors.scss";

.contact-user {
  padding: 5 0;
  background-color: transparent;
  .doc-title {
    color: $color-badge-default;
    font-weight: bold;
  }
  .doc-avatar {
    width: 45;
    height: 45;
    margin: 0 10 0 5;
    border-radius: 22.5;
  }
  .icomoon {
    margin: 0 5;
    &:last-child {
      margin-right: 0;
    }
  }
}
